/* Mobile / base view */
:root{
    --midnight_green: #124E66;
    --black_olive: #1f271b;
    --moodlight_gray: #748D92;
    --french_gray: #D2D7Df;
    --white: #FFFFFF;
}
body{
    background-color: var(--midnight_green);
    h1{
        color: var(--french_gray);
        text-align: center;
    }
    a:hover{
        color: var(--moodlight_gray)
    }
    header{
        p{
            color: var(--white);
            text-align: center;
        }
        div{
            display: flex;
            justify-content: space-around;
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: var(--french_gray);
            a{
                color: var(--black_olive);
            }
            
        }
    }
    footer{
        p, a{
            color: var(--white);
        }
    }
}


a.leaflet-control-zoom-in, a.leaflet-control-zoom-out{
    background-color: var(--midnight_green);
}

/* Change the text color for the zoom buttons */
.leaflet-control-zoom-in span,
.leaflet-control-zoom-out span{
    color: white; /* Text color for + and - */
}
.custom-marker .marker-icon {
    width: 30px;
    height: 30px;
    background-color: #d2d7df;
    border-radius: 50%;
    border: 2px solid #333;
}

.custom-marker.highlight .marker-icon {
    background-color: #1F271B; 
}

.custom-marker .marker-icon:hover {
    background-color: #1F271B; 
}

#map {
    height: 600px;
    width: 100%;
    flex-grow: 1;
}

/* Sidebar styles */
#sidebar {
    width: 300px;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    border-right: 2px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    .event-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}

.event-item {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.2s;
}

.event-item:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.highlight {
    background-color: yellow;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        align-items: stretch;
    }

    #sidebar {
        display: none;
    }

    #map {
        height: 400px;
    }
}

/* Flex container for sidebar and map */
.container {
    display: flex;
    width: 100%;
    height: 100vh; /* Full height */
}