/* Mobile / base view */
:root {
  --midnight_green: #124e66;
  --black_olive: #1f271b;
  --moodlight_gray: #748d92;
  --french_gray: #d2d7df;
  --white: #ffffff;
}

/* Mobile view */
body {
  background-color: var(--midnight_green);
}
body h1 {
  color: var(--french_gray);
  text-align: center;
}
body header p {
  color: var(--white);
  text-align: center;
}
body header .links {
  display: none; /* Initially hide the links */
}
body header .links a {
  color: var(--black_olive);
  padding: 10px; /* Add padding to increase the clickable area */
  text-align: center; /* Center text */
  display: block; /* Make the anchor a block element */
  width: 100%;
  text-decoration: none;
}
body header .links a:hover {
  background-color: var(--moodlight_gray); /* Change background on hover */
}
body footer p, body footer a {
  color: var(--white);
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  height: auto; /* Adjust height for mobile */
}

#sidebar {
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
  height: auto; /* Let the height adjust based on content */
  width: 100%; /* Use full width in mobile */
  padding: 10px;
  transition: all 0.3s ease; /* Add transition for smooth hiding/showing */
  display: none; /* Start hidden */
}

#sidebar.open {
  display: flex; /* Use flex display when open */
  flex-direction: column; /* Arrange items in a column */
}

.event-item {
  flex: 0 0 auto; /* Prevent shrinking */
  width: 300px; /* Set a fixed width for each item */
  padding: 1em;
  margin-right: 1em;
  word-wrap: break-word;
  background-color: white;
}

.event-image {
  width: 100%; /* Ensure images fill the event item */
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#sidebarContent {
  display: flex;
  flex-direction: row;
  padding: 2em;
}

#map {
  display: block;
  order: 3;
  height: 400px;
  width: 100%; /* Full width of the map */
}

#eye.open + .container #sidebar {
  display: block;
}

#eye {
  margin: auto;
  width: 86px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--midnight_green); /* Added background color */
  margin-bottom: 10px;
}

#eye::before {
  content: "";
  background-image: url("../images/eye5_64x64.webp"); /* Default closed eye */
  background-size: cover;
  width: 68px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-image 0.5s ease-in-out; /* Smooth transition between images */
}

#eye.open::before {
  animation: eyeOpen 1s forwards; /* Play the opening animation */
}

#eye.closed::before {
  animation: eyeClose 1s forwards; /* Play the closing animation */
}

/* Define the eye opening animation */
@keyframes eyeOpen {
  0% {
    background-image: url("../images/eye5_64x64.webp"); /* Fully closed eye */
  }
  25% {
    background-image: url("../images/eye4_64x64.webp"); /* Slightly open eye */
  }
  50% {
    background-image: url("../images/eye3_64x64.webp"); /* Half-open eye */
  }
  75% {
    background-image: url("../images/eye2_64x64.webp"); /* Almost fully open eye */
  }
  100% {
    background-image: url("../images/eye1_64x64.webp"); /* Fully open eye */
  }
}
/* Define the eye closing animation */
@keyframes eyeClose {
  0% {
    background-image: url("../images/eye1_64x64.webp"); /* Fully open eye */
  }
  25% {
    background-image: url("../images/eye2_64x64.webp"); /* Almost fully open eye */
  }
  50% {
    background-image: url("../images/eye3_64x64.webp"); /* Half-open eye */
  }
  75% {
    background-image: url("../images/eye4_64x64.webp"); /* Almost closed eye */
  }
  100% {
    background-image: url("../images/eye5_64x64.webp"); /* Fully closed eye */
  }
}
/* Desktop view */
@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row; /* Row layout for desktop view */
    order: 1; /* Ensure correct order for sidebar and map */
  }
  header button {
    display: none !important;
  }
  header .links {
    display: flex !important;
    flex-direction: row !important;
    background-color: var(--french_gray);
  }
  #sidebarContent {
    display: flex;
    flex-direction: column !important;
    padding: 5px;
    width: 300px;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .event-item {
    padding: 0;
    word-wrap: break-word;
    max-width: 70%;
  }
  .event-image {
    max-width: 70%;
  }
  /* Sidebar styles */
  #sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 600px;
    overflow-x: hidden; /* Disable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px;
    border-right: 2px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    order: 1; /* Sidebar appears first (left) */
  }
  #map {
    display: block;
    height: 620px;
    width: 100%;
    flex-grow: 1;
    order: 2; /* Map appears after sidebar */
  }
}
a.leaflet-control-zoom-in,
a.leaflet-control-zoom-out {
  background-color: var(--midnight_green);
}

/* Change the text color for the zoom buttons */
.leaflet-control-zoom-in span,
.leaflet-control-zoom-out span {
  color: white; /* Text color for + and - */
}

.custom-marker .marker-icon {
  width: 30px;
  height: 30px;
  background-color: #d2d7df;
  border-radius: 50%;
  border: 2px solid #333;
}

.custom-marker.highlight .marker-icon {
  background-color: #1f271b;
}

.custom-marker .marker-icon:hover {
  background-color: #1f271b;
}/*# sourceMappingURL=index.css.map */