/* Mobile / base view */
:root {
  --midnight_green: #124e66;
  --black_olive: #1f271b;
  --moodlight_gray: #748d92;
  --french_gray: #d2d7df;
  --white: #ffffff;
}

/* Mobile view */
body{
    background-color: var(--midnight_green);
    h1{
        color: var(--french_gray);
        text-align: center;
    }
    a:hover{
        color: var(--moodlight_gray)
    }
    header{
        p{
            color: var(--white);
            text-align: center;
        }
        .links {
            display: none; /* Initially hide the links */
            justify-content: space-around;
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: var(--french_gray);
        }
        
        .links.open {
            display: flex; /* Change to flex to match your layout */
            flex-direction: column; 
        }        
    }
    footer{
        p, a{
            color: var(--white);
            margin: 5px;
        }
    }
}

#eye {
    margin: auto;
    width: 86px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--midnight_green); /* Added background color */
}

#eye::before {
    content: "";
    background-image: url('../images/eye5_64x64.webp'); /* Default closed eye */
    background-size: cover;
    width: 68px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-image 0.5s ease-in-out; /* Smooth transition between images */
}

#eye.open::before {
    animation: eyeOpen 1s forwards; /* Play the opening animation */
}

#eye.closed::before {
    animation: eyeClose 1s forwards; /* Play the closing animation */
}

/* Define the eye opening animation */
@keyframes eyeOpen {
    0% {
        background-image: url('../images/eye5_64x64.webp'); /* Fully closed eye */
    }
    25% {
        background-image: url('../images/eye4_64x64.webp'); /* Slightly open eye */
    }
    50% {
        background-image: url('../images/eye3_64x64.webp'); /* Half-open eye */
    }
    75% {
        background-image: url('../images/eye2_64x64.webp'); /* Almost fully open eye */
    }
    100% {
        background-image: url('../images/eye1_64x64.webp'); /* Fully open eye */
    }
}

/* Define the eye closing animation */
@keyframes eyeClose {
    0% {
        background-image: url('../images/eye1_64x64.webp'); /* Fully open eye */
    }
    25% {
        background-image: url('../images/eye2_64x64.webp'); /* Almost fully open eye */
    }
    50% {
        background-image: url('../images/eye3_64x64.webp'); /* Half-open eye */
    }
    75% {
        background-image: url('../images/eye4_64x64.webp'); /* Almost closed eye */
    }
    100% {
        background-image: url('../images/eye5_64x64.webp'); /* Fully closed eye */
    }
}


/* Desktop view */
@media(min-width:768px){
    header{
        button{
            display: none;
        }
        div.links{
            display: flex;
        }
    }
}




a.leaflet-control-zoom-in,
a.leaflet-control-zoom-out {
  background-color: var(--midnight_green);
}

/* Change the text color for the zoom buttons */
.leaflet-control-zoom-in span,
.leaflet-control-zoom-out span {
  color: white; /* Text color for + and - */
}
.custom-marker .marker-icon {
  width: 30px;
  height: 30px;
  background-color: #d2d7df;
  border-radius: 50%;
  border: 2px solid #333;
}

.custom-marker.highlight .marker-icon {
  background-color: #1f271b;
}

.custom-marker .marker-icon:hover {
  background-color: #1f271b;
}

#map {
  height: 620px;
  width: 100%;
  flex-grow: 1;
}

/* Sidebar styles */
#sidebar {
  width: 300px;
  height: 600px;
  overflow-y: auto;
  padding: 10px;
  border-right: 2px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  .event-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

.event-item {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.2s;
}

.event-item:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.highlight {
  background-color: yellow;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        align-items: stretch;

    }
  body {
    flex-direction: column;
    align-items: stretch;
  }

  #sidebar {
    display: none;
  }

  #map {
    height: 400px;
  }
}

/* Flex container for sidebar and map */
.container {
  display: flex;
  width: 100%;
  height: 100%; /* Full height */
}
